@import "../../scss/base";
.cart-container{
  @extend .container;
}
// Cart header
.cart-header{
  font-size: x-large;
  margin-bottom: 10px;
  color: $txtsecondary;
  .go-back{
    text-decoration: none;
    font-size: xx-large;
    vertical-align: baseline;
  }
}

// Cart List
.cart-list{
  width:100%;
  .heading{
    color: $txtsecondary;
    font-weight: bold;
    border-top:1px solid $grey;
    border-bottom:1px solid $grey;
  }
  .cl-row{
    padding:10px 0px;
    .cl-item{
      width:40%;
      min-width: 155px;
      float: left;
    }
    .cl-action{
      width: 40%;
      min-width: 185px;
      float: left;
      text-align: center;
    }
    .cl-price{
      width:20%;
      float: left;
      text-align: center;
    }
    &::after{
      @extend .clearfix;
    }
  }
}

// Cart Summary
.cart-summary-container{
  @extend .container;
  width: 100%;
  margin-top:0px;
  z-index: -1;
  .cart-summary{
    width: 300px;
    margin: auto;
    border: 2px solid $grey;
    margin-bottom:15px;
    &::before, &::after{
      @extend .clearfix;
    }
    .heading{
      padding:15px;
      font-weight: 700;
    }
    .sum-row{
      padding:0px 10px 15px 10px;
      display: block;
      color: $txtsecondary;
      &::before, &::after{
        @extend .clearfix;
      }
      .sum-text{
        width: 50%;
        float: left;
      }
      .sum-delimiter{
        width: 20%;
        text-align: center;
        float: left;
      }
      .sum-price{
        width: 30%;
        text-align: right;
        float: left;
      }
      &:nth-child(3){
        padding-bottom: 0px;
      }
      &:last-child{
        padding-top:20px;
        background-color: $grey;
        font-weight: bold;
        color: $txtprimary;
      }
    }
    .order-total{
      background-color: $grey;
      padding: 10px;
      height: 70px;
    }
  }
}

  @media (min-width:1000px){
    .cart-list{
      width: 660px;
    }
    .cart-summary-container{
      position: fixed;
      .cart-summary{
        float: right;
      }
    }
  }