{
  "parser": "babel-eslint",
  "rules":{
    "no-console": 0,
    "semi":["error", "never"],
    "linebreak-style": ["error", "unix"] //windows : when using CRLR; unix : when using LR
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ]
}
