@import "../../scss/base";

// For items.fetch.success
.itemListContainer{
  @extend .container;
  width:250px;
  @media (min-width:520px){
    width: 520px;
  }
  @media (min-width:770px){
    width: 770px;
  }
  @media (min-width:1000px){
    width: 1000px;
  }
  .header{
    position: relative;
    height: $navbarHeight;
    line-height: $navbarHeight;
    border-bottom: 3px solid $grey;
    padding:5px 0px;
    margin-bottom: 20px;
    .header-title{
      font-size: x-large;
      font-variant: 100;
      color: $txtsecondary;
    }
    .cart-link{
      @extend .navHeightCenter;
      position: absolute;
      top: 0;
      right: 5px;
      background-color: $blue;
      color:white;
      border-radius: 3px;
      .cartIcon{
        background: $cartbg;
        height: 16px;
        width: 16px;
        display: inline-block;
        vertical-align: middle;
      }
      $counterSize:24px;
      .items-cart{
        position: absolute;
        padding:3px;
        top:-0.5 * $counterSize;
        left:-0.5 * $counterSize;
        min-width: $counterSize;
        height: $counterSize;
        line-height: $counterSize;
        border-radius: 50%;
        background-color: grey;
        color:white;
        display: inline-block;
      }
    }
  }
}
