@import "../../scss/base";

.toast{
  @extend .navHeightCenter;
  background-color: $green;
  position: fixed;
  top:0;
  right:0;
  transform: translateX(100%);
  transition: transform linear 0.25s;
  &.active{
    right:0px;
    transform: translateX(0);
    transition: transform linear 0.25s;
  }
}