$fontFamily: "Roboto", sans-serif;
// Colors
$green: #70c35d;
$grey: #efefef;
$blue: #0099ff;
$txtsecondary: #666;
$txtprimary: #333;
//Dimensions
$navbarHeight:40px;
$navContentMargin: 40px;

// Classes to extend
.navHeightCenter{
  height: $navbarHeight;
  line-height: $navbarHeight;
  text-align: center;
  vertical-align: middle;
  min-width: 1.5 * $navbarHeight;
  padding:0 10px;
  text-decoration: none;
  display: inline-block;
}
.container{
  max-width: 1000px;
  margin:auto;
  margin-top:$navContentMargin;
}
.clearfix{
  display: block;
  content:'';
  clear:both;
}
// cart icon
$cartbg:url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDkyLjU2NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDkyLjU2NiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTEwMCw2LjE5NEwyMC4xNzcsOC40OTZMMTcuMTY4LDBIMGwzLjU0LDYuMTUxaDQuOTU2bDEyLjg1NiwzOC4zNTNjLTMuMDE5LDIuNTc1LTQuOTQzLDYuMzk3LTQuOTQzLDEwLjY2NyAgYzAsNy43MzgsNi4yOTYsMTQuMDMzLDE0LjAzNCwxNC4wMzNIMTAwVjU4LjU4NEgzMC40NDJjLTEuODgyLDAtMy40MTQtMS41MzEtMy40MTQtMy40MTRjMC0xLjQ0NSwwLjkwNC0yLjY4LDIuMTc1LTMuMTc4ICBsLTAuMDA2LTAuMDE3TDEwMCwzNy4zNDRWNi4xOTR6Ii8+PGNpcmNsZSBjeD0iMzguMTQyIiBjeT0iODIuMjEyIiByPSIxMC4zNTQiLz48Y2lyY2xlIGN4PSI4OS42NDYiIGN5PSI4Mi4yMTIiIHI9IjEwLjM1NCIvPjwvc3ZnPg==");